version: "3.9"
services:
  openstrm:
    image: indown/openstrm:latest
    container_name: openstrm
    ports:
      - "3000:3000"   # nginx 代理 -> Next.js (前端界面)
      - "8091:8091"   # nginx 代理 -> emby (emby 客户端使用此端口)
    environment:
      - NODE_ENV=production
    volumes:
      - ./data:/app/data
      - ./config:/app/config
      - ./emby2Alist/nginx/log:/var/log/nginx
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    deploy:
      resources:
        limits:
          memory: 1024M
        reservations:
          memory: 256M
